<div class="row" style="max-width: 1080px; margin: 0 auto;">

  <div class="d-flex align-items-center">
    <div class="col col-lg-6">
      <img class="img-responsive center-block" src="{{store.cover}}"
        style="width:auto; max-width: 390px; margin-bottom: 1rem; transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;">
      <br>
    </div>
    <div class="col-12 col-lg-6 ms-5">
      <h3 class="mb-2">
        <strong>{{store.name}}</strong>
      </h3>
      <ul class="list-unstyled">

        <li><strong>地址: </strong> {{store.address}}</li>
        <li><strong>電話: </strong>{{store.phone}}</li>
      </ul>

      <a class="btn btn-outline-secondary mt-2 me-3" href="/admin/stores">返回</a>
      <a class="btn btn-outline-primary mt-2" href="#drink-menu">菜單</a>
      


    </div>
  </div>


  <hr style="border: none; border-top: 3px solid black;">

  {{!-- 販賣的飲料 --}}
  <div id="drink-menu" class="col-md-12 mb-3">
    <h3 style="display: inline-block;">有哪些飲料？</h3>
    <span class="small btn-color" style="display: inline-block;">點擊後畫面將在延遲後更新!</span>

    <div class="drinks-container" style="max-height: 70vh; overflow: auto">
      {{#each drinks}}
      <div>
        <hr style="border: none; border-top: 3px solid black; flex: 1;">
        <div class="d-flex justify-content-between align-items-center mt-0 mb-0 flex-grow-1">
          <span style="flex-grow: 1;">
            <div style="display: inline-block;">{{this.name}}:</div>
            <div style="display: inline-block; margin-right:4rem">價格: {{this.price}}元</div>
          </span>

          <span class="me-5">{{> drink-ownership-button storeId=../store.id }}</span>
        </div>
        {{/each}}
      </div>


    </div>

  </div>