<div class="margin-wrapper">
  {{!-- 餐廳後台 --}}
  {{> admin-tabs route = 'users'}}

  <div id="table-users" class="table-formats">
    <table cellspacing="0">
      {{!-- 表頭 --}}
      <thead>
        <tr>
          <th>名稱</th>
          <th>頭像</th>
          <th>帳號</th>
          <th>權限</th>
          <th>功能</th>
        </tr>
      </thead>

      {{!-- 表格 --}}
      <tbody>
        {{#each users}}
        <tr>

          <td><a href="/users/{{this.id}}">{{this.name}}</a></td>
          <td>
            <a href="/users/{{this.id}}">
              {{#if this.avatar}}
              <img class="img-responsive center-block me-1" src="{{this.avatar}}" width="30px" height="30px"
                style="width: 30px; border-radius: 25%" alt="使用者圖像">
              {{else}}
              <img src="https://fakeimg.pl/40/" class="me-1" width="30px" height="30px" style="border-radius: 25%;" />
              {{/if}}
            </a>
          </td>

          <td class="text-start">{{this.email}}</td>
          <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
          <td>
            <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-link btn-color" onclick="return confirm(`確定要變更{{this.name}}使用者權限嗎?`)"
                style="text-decoration: none;">
                {{#if this.isAdmin}}set as user
                {{else}}set as admin
                {{/if}}
              </button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>