{{!-- 套用自訂編距樣式 --}}
<div class="margin-wrapper">

  {{!-- 前台頁籤 --}}
  {{> store-tabs route = 'orders'}}

  {{#if orders}}

  <div class="mt-2">
    {{!-- 取得資料總數, 顯示全部資料的按鈕 --}}
    <p class="small btn-color">
      {{> pagination-toggle color = 'btn-color'}}
    </p>
    
    {{!-- 列出訂單資訊 --}}
    <div id="table-front-orders" class="table-formats">
      <table cellspacing="0">

        {{!-- 表頭 --}}
        <thead>
          <tr>
            <th style="min-width: 90px;">店家</th>
            <th style="min-width: 60px;">數量</th>
            <th style="min-width: 160px;">商品</th>
            <th style="min-width: 130px;">規格</th>
            <th style="min-width: 90px;">金額</th>
            <th style="min-width: 110px;">時間</th>
          </tr>
        </thead>

        {{!-- 表格 --}}
        <tbody>
          {{#each orders}}
          <tr>
            <td><a href="/stores/{{this.Store.id}}">{{this.Store.name}}</a></td>
            <td>{{this.amount}}杯</td>
            <td class="text-start">{{this.Drink.name}}</td>
            <td class="text-start">{{this.Size.level}}、{{this.Sugar.level}}、{{this.Ice.level}}</td>


            {{!-- 判斷價格是中杯還是大杯 --}}
            {{#ifCond this.Size.level "大杯(L)"}}
            <td>{{formatNumber (multiply (sum this.Drink.priceL) this.amount)}}元</td>
            {{else}}
            <td>{{formatNumber (multiply (sum this.Drink.priceM) this.amount)}}元</td>
            {{/ifCond}}

            <td>{{formatTime this.createdAt}}</td>
          </tr>
          {{/each}}
        </tbody>

      </table>
    </div>

    {{!-- 新增頁碼器 --}}
    <div class="mt-3 d-flex justify-content-center align-items-center table-width">
      {{> pagination}}
    </div>
  </div>


  {{else}}
  <a href="/stores">
    <h6 class="mt-1 ms-3" style="line-height: 1.5rem">還沒有喝飲料?<br>趕快去逛逛吧!</h6>
  </a>
  {{/if}}

</div>